<div class="settings_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li>
              <a ng-click="$close()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <h4>Внести правки</h4>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body mobile_modal_body">
  <div id="rcommit_preloader" class="reviewgram-preloader subform">
  </div>
  <div id="rcommit_error" class="subform" style="display: none;">
      <div class="reviewgram-error"></div>
      <div class="md_simple_modal_footer buttons">
        <button class="btn btn-md btn-md-primary btn-repeat" ng-click="repeat()">Повторить</button>
        <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
      </div>
  </div>
  <div id="rcommit_branch_select" class="subform" style="display: none;">
      <form class="modal_simple_form"   my-vertical-position="0.3">
        <div class="reviewgram-error" id="branch_select_error" style="dispay: none;" >
        </div>
        <div class="reviewgram-microphone-widget-wrapper">
            <div class="reviewgram-microphone-widget" data-for="branchNameSearch"></div>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" my-focused type="text" placeholder="Имя ветки" id="branchNameSearch"  name="branchNameSearch"/>
        </div>
        <div class="form-group">
            Выберите ветку:
            <div class="reviewgram-select-box" id="branchName">
                <ul></ul>
            </div>
        </div>
        <div class="md_simple_modal_footer">
          <button class="btn btn-md btn-md-primary" ng-click="submitBranchName()">Выбрать ветку</button>
          <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
        </div>
      </form>
  </div>
  <div id="rcommit_file_select" class="subform"  style="display: none;">
      <form class="modal_simple_form"   my-vertical-position="0.3">
        <div class="reviewgram-error" id="commit_file_select_error" style="dispay: none;" >
        </div>
        <div class="reviewgram-microphone-widget-wrapper">
            <div class="reviewgram-microphone-widget" data-for="commitFileSearch"></div>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" my-focused type="text" placeholder="Имя файла" id="commitFileSearch"  name="commitFileSearch"/>
        </div>
        <div class="form-group">
            Выберите файл:
            <div class="reviewgram-select-box" id="commitFile">
                <ul></ul>
            </div>
        </div>
        <div class="md_simple_modal_footer">
          <button class="btn btn-md btn-md-primary" ng-click="submitFileName()">Выбрать файл</button>
          <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

          <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
        </div>
      </form>
  </div>
  <div id="rcommit_range_select" class="subform" style="display: none;">
      <div class="md_simple_modal_footer">
        <button class="btn btn-md btn-md-primary" ng-click="submitRange()">Продолжить</button>
        <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

        <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
      </div>
      <div>
          Нажмите на номере строки, чтобы отметить начало промежутка, затем на другом номере, чтобы отметить конец.
          <br />
          Одновременно можно выбрать не более 10 строк.
      </div>
      <div class="editor-wrapper">
      </div>
  </div>
  <div id="rcommit_edit" class="subform" style="display: none;">
      <div class="editor-wrapper">
      </div>
      <div style="margin-top: 10px;">
          Редактор
      </div>
      <div style="autocomplete-container">
          <button class="btn btn-md" onclick="aceEditorMain.undo()">Отмена</button>
          <button class="btn btn-md" onclick="aceEditorMain.redo()">Повтор</button>
      </div>
      <div style="margin-top: 10px;">
          Автодополнение
      </div>
      <div style="autocomplete-container">
          <button class="btn btn-md">, list2</button>
          <button class="btn btn-md">, </button>
          <button class="btn btn-md">(a)</button>
      </div>
      <div class="form-group">
          Выберите команду:
          <div class="reviewgram-select-box" id="editCommand">
              <ul>
                  <li class="add-line-to-begin">Добавить строку в начало</li>
                  <li class="add-line-to-end">Добавить строку в конец</li>
                  <li class="insert-line">Вставить строку в позиции курсора</li>
                  <li class="delete-line">Удалить строку в позиции курсора</li>
                  <li class="replace-line">Заменить строку в позиции курсора</li>
              </ul>
          </div>
      </div>
      <div class="reviewgram-microphone-widget-wrapper">
          <div class="reviewgram-microphone-widget" data-for="commandLine"></div>
      </div>
      <div class="form-group">
        <input class="form-control input-lg" my-focused type="text" placeholder="Строка для вставки/замены" id="commandLine"  name="commandLine"/>
      </div>
      <div>
          <button class="btn btn-md apply" ng-click="applyEditCommand()">Применить команду</button>
      </div>
      <div class="md_simple_modal_footer">
        <button class="btn btn-md btn-md-primary" ng-click="submitEdit()">Продолжить</button>
        <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

        <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
      </div>
  </div>
  <div id="rcommit_confirm" class="subform" style="display: none;">
      <div id="rcommit_confirm_error">
          <div class="reviewgram-error">
              Ошибка! Репозиторий пока заблокирован для правки
          </div>
          <div class="md_simple_modal_footer">
            <button class="btn btn-md btn-back" ng-click="backToBranchSelect()">Назад</button>

            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
      </div>
      <div id="rcommit_confirm_apply">
          <div class="md_simple_modal_footer">
            <button class="btn btn-md jumbo" ng-click="submitToGithub">Отправить</button>
            <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
       </div>
  </div>
  </div>
</div>
