<div class="settings_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li>
              <a ng-click="$close()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <h4>Настройки интеграции с GitHub</h4>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body mobile_modal_body">
  <div id="rsettings_preloader" class="reviewgram-preloader">
  </div>
  <div id="rsettings_form" style="display: none;">
      <form class="modal_simple_form"   my-vertical-position="0.3">
         <h4>Для задания имени репозитория используется формат вида https://github.com/&lt;имя собственника репо&gt;/&lt;имя репозитория&gt;/</h4>

        <div class="reviewgram-error" id="error" style="display: none;">
            Не указано имя собственника репозитория
        </div>

        <div class="form-group">
          <input class="form-control input-lg" my-focused type="text" placeholder="Имя собственника репо" id="repoUserName"  name="repoUserName"/>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="text" placeholder="Имя репозитория" id="repoSameName" name="repoSameName"/>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="text" placeholder="Логин пользователя" id="user" name="user"/>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="password" placeholder="Пароль" id="password" name="password"/>
        </div>
        <div class="md_simple_modal_footer">
          <button class="btn btn-md" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          <button class="btn btn-md btn-md-primary" ng-click="submitForm()">Сохранить</button>
        </div>
      </form>
  </div>

  </div>
</div>
