<div class="settings_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title">Внести правки</div>
    </div>
  </div>

  <div class="md_modal_body desktop">
      <div id="rcommit_preloader" class="reviewgram-preloader subform">
      </div>
      <div id="rcommit_error" class="subform" style="display: none;">
          <div class="reviewgram-error"></div>
          <div class="md_simple_modal_footer buttons">
            <button class="btn btn-md btn-md-primary btn-repeat" ng-click="repeat()">Повторить</button>
            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
      </div>
      <div id="rcommit_branch_select" class="subform" style="display: none;">
          <form class="modal_simple_form" >
            <div class="reviewgram-error" id="branch_select_error" style="dispay: none;" >
            </div>
            <div class="reviewgram-microphone-widget-wrapper">
                <div class="reviewgram-microphone-widget" data-for="branchNameSearch"></div>
            </div>
            <div class="md-input-group">
              <label class="md-input-label">Имя ветки</label>
              <input class="md-input" my-focused type="text" name="branchNameSearch" id="branchNameSearch"  text="" required="required" />
            </div>

            <div>
              Выберите ветку:
              <div class="reviewgram-select-box" id="branchName">
                  <ul></ul>
              </div>
            </div>
          </form>

          <div class="md_simple_modal_footer">
            <button class="btn btn-md btn-next-tab btn-md-primary" ng-click="submitBranchName()">Выбрать ветку</button>
            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
      </div>
      <div id="rcommit_file_select" class="subform"  style="display: none;">
          <form class="modal_simple_form" >
            <div class="reviewgram-error" id="commit_file_select_error" style="dispay: none;" >
            </div>
            <div class="reviewgram-microphone-widget-wrapper">
                <div class="reviewgram-microphone-widget" data-for="commitFileSearch"></div>
            </div>
            <div class="md-input-group">
              <label class="md-input-label">Имя файла</label>
              <input class="md-input" my-focused type="text" name="commitFileSearch" id="commitFileSearch"  text="" required="required" />
            </div>

            <div>
              Выберите файл:
              <div class="reviewgram-select-box" id="commitFile">
                  <ul></ul>
              </div>
            </div>
          </form>

          <div class="md_simple_modal_footer">
            <button class="btn btn-md btn-next-tab btn-md-primary" ng-click="submitFileName()">Выбрать файл</button>
            <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
      </div>
      <div id="rcommit_range_select" class="subform" style="display: none;">
          <div class="md_simple_modal_footer">
            <button class="btn btn-md btn-next-tab btn-md-primary" ng-click="submitRange()">Продолжить</button>
            <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
          <div>
              Нажмите на номере строки, чтобы отметить начало промежутка, затем на другом номере, чтобы отметить конец.
              <br />
              Одновременно можно выбрать не более 10 строк.
          </div>
          <div class="editor-wrapper">
          </div>
      </div>
      <div id="rcommit_edit" class="subform" style="display: none;">
          <div class="editor-wrapper">
          </div>
          <div id="edit-syntax-error">
          </div>
          <div class="edit-tab-container">
              <div class="header">
                  <div class="section-arrow arrow-right"></div>
                  Редактор
              </div>
              <div class="body">
                  <button class="btn btn-md" onclick="aceEditorMain.undo()">Отмена</button>
                  <button class="btn btn-md" onclick="aceEditorMain.redo()">Повтор</button>
              </div>
          </div>
          <div class="edit-tab-container autocompletion">
              <div class="header">
                  <div class="section-arrow arrow-right"></div>
                  Автодополнение
              </div>
              <div class="body">
                  <button class="btn btn-md">, list2</button>
                  <button class="btn btn-md">, </button>
                  <button class="btn btn-md">(a)</button>
              </div>
          </div>
           <form class="modal_simple_form" >
              <div>
                  Выберите команду:
                  <div class="reviewgram-select-box" id="editCommand">
                      <ul>
                          <li class="add-line-to-begin">Добавить строку в начало</li>
                          <li class="add-line-to-end">Добавить строку в конец</li>
                          <li class="insert-line">Вставить строку в позиции курсора</li>
                          <li class="delete-line">Удалить строку в позиции курсора</li>
                          <li class="replace-line">Заменить строку в позиции курсора</li>
                      </ul>
                  </div>
              </div>
              <div class="reviewgram-microphone-widget-wrapper">
                  <div class="reviewgram-microphone-widget" data-for="commandLine"></div>
              </div>
              <div class="md-input-group">
                <label class="md-input-label">Строка для вставки/замены</label>
                <input class="md-input" my-focused type="text" name="commandLine" id="commandLine"  text="" required="required" />
              </div>
          </form>
          <div class="md_simple_modal_footer">
            <button class="btn btn-md apply" ng-click="applyEditCommand()">Применить команду</button>
            <button class="btn btn-md btn-next-tab btn-md-primary" ng-click="submitEdit()">Продолжить</button>
            <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

            <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
          </div>
      </div>
      <div id="rcommit_confirm" class="subform" style="display: none;">
          <div id="rcommit_confirm_error">
              <div class="reviewgram-error">
                  Ошибка! Репозиторий пока заблокирован для правки
              </div>
              <div class="md_simple_modal_footer">
                <button class="btn btn-md btn-back" ng-click="backToBranchSelect()">Назад</button>

                <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
              </div>
          </div>
          <div id="rcommit_confirm_apply">
              <div class="md_simple_modal_footer">
                <button class="btn btn-md btn-next-tab jumbo" ng-click="submitConfirmation()">Отправить</button>
                <button class="btn btn-md btn-back" ng-click="back()">Назад</button>

                <button class="btn btn-md cancel" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
              </div>
           </div>
      </div>
  </div>
</div>
