.reviewgram-error {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #d45a58
}

.reviewgram-preloader {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background: url(/img/preloader.gif) no-repeat center center;
    filter: brightness(1.4);
}


.reviewgram-microphone-widget {
    display: block;
    position: relative;
    cursor: pointer;
}


.reviewgram-microphone-widget .button  {
    display: inline-block;
    width: 40px;
    height: 38px;
    background: url(/img/icons/mic.png)
}

.reviewgram-microphone-widget .button-wrapper {
    display: inline-block;
    width: 40px;
    height: 38px;
    border-radius: 50%;
    background-color: rgb(73,194,134);
}

.reviewgram-microphone-widget.in-process .button  {
    background: url(/img/icons/stop.png)
}

.reviewgram-microphone-widget.recognizing .button-wrapper {
    background-color: rgb(220, 220, 220);
}

.reviewgram-microphone-widget.recognizing .button  {
    background:  url(/img/icons/stop2.png)
}

.reviewgram-microphone-widget .label {
    display: inline-block;
    color: #000;
    font-weight: normal;
    padding: 0;
    top: 14px;
    position: absolute;
    line-break: auto;
    padding-left: 10px;
    font-size: 10px;
}


.reviewgram-select-box {
    max-height: 500px;
    overflow-y: auto;
}

.reviewgram-select-box ul {
    list-style: none;
    padding-left: 0px;
}


.reviewgram-select-box li:before {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 11px;
    word-break: break-all;
    background-color: #E9F0EC;
    color: rgb(73,194,134);
    cursor: pointer;
    content: "\25CF"
}

.reviewgram-select-box li {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 11px;
    word-break: break-all;
    background-color: #E9F0EC;
    color: rgb(73,194,134);
    max-width: 400px;
    cursor: pointer;
}



.reviewgram-select-box li.selected:before {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 11px;
    word-break: break-all;
    color: rgb(255, 255, 255);
    background-color: rgb(73,194,134);
    max-width: 400px;
    cursor: pointer;
    content: "\25CF"
}


.reviewgram-select-box li.selected {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 11px;
    word-break: break-all;
    color: rgb(255, 255, 255);
    background-color: rgb(73,194,134);
    max-width: 400px;
    cursor: pointer;
}

.reviewgram_commit_all_modal_window  .mobile_modal_body .btn {
    font-size: 11px;
}

.reviewgram-microphone-widget-wrapper {
    margin-top: 15px;
    margin-bottom: 10px;
}

.subform .md-input-label {
    transform: none !important;
    -webkit-transform: none !important;
}

.mobile_modal_body .subform .md_simple_modal_footer {
    padding-left: 0px;
    padding-right: 0px;
}

.subform .md_simple_modal_footer .btn {
     margin-top: 30px;
     margin-bottom: 30px;
     display: block;
     text-align: center;
}

.mobile_modal_body .subform .md_simple_modal_footer .btn {
     width: 100%;
}


.desktop .subform .md_simple_modal_footer .btn {
     margin-left: auto;
     margin-right: auto;
}

.mobile_modal_body .subform .md_simple_modal_footer .btn {
    margin-left: 0px;
}

.subform .md_simple_modal_footer .btn.cancel {
    margin-top: 45px;
    margin-bottom: 45px;
}


.mobile_modal_body .subform .modal_simple_form {
    margin-top: 15px !important;
}


.reviewgram_commit_all_modal_window div .btn.btn-md,
.reviewgram_repo_settings_all_modal_window div .btn.btn-md,
.reviewgram_commit_all_modal_window div .btn.btn-md:hover,
.reviewgram_repo_settings_all_modal_window div .btn.btn-md:hover
{
    background-color: #41BF80;
    color: #FFFFFF;
}

.reviewgram_commit_all_modal_window div .btn.btn-md.cancel,
.reviewgram_repo_settings_all_modal_window div .btn.btn-md.cancel,
.reviewgram_commit_all_modal_window div .btn.btn-md.cancel:hover,
.reviewgram_repo_settings_all_modal_window div .btn.btn-md.cancel:hover
{
    background-color: #BF4F41;
    color: #FFFFFF;
}

.autocomplete-container {
    display: inline-block;
}

#rcommit_range_select .editor-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 600px;
}

#rcommit_edit .editor-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 150px;
}

#editor_range_select, #editor_edit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#editor_range_select {
    height: 500px;
}

#editor_edit {
    height: 150px;
}

.autocomplete-container {
    margin-bottom: 10px;
}


.desktop #rcommit_range_select > div {
    margin-left: 10px;
}

.desktop #rcommit_edit > div {
    margin-left: 10px;
}


.desktop #editor_range_select {
    width: 580px;
}

.desktop #editor_edit {
    width: 580px;
}


.personal_access_token_label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ace_gutter-cell.selected {
    background-color: rebeccapurple;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}
